.background {
  background-image:  linear-gradient(-225deg, rgba(250,250,250,0.3) 0%, rgba(0,0,0,0.1) 50%),url('../../images/download.png');
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
.background img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  margin-top: 160px;
  margin-left: 50px;
}
